# Model weights and checkpoints
*.pt
*.pth
*.weights
*.onnx
*.engine
*.trt
*.bin
*.safetensors

# Ultralytics/runs
runs/
weights/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data
*.npz
*.npy
*.ts
data/
datasets/

submission/problem2/build/
submission/problem2/log/
submission/problem2/install/
submission/problem2/src/experimentation/my_training